.electionNav-inner-container{
    background:#fff;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
}

.electionNav-head-title a,
.electionNav-footer-title a{
    font-family:'Guardian Egyptian Web','Egyptian Display', Georgia,serif;
    font-size:18px;
    font-weight:bold;
    text-decoration: none;
    line-height: 28px;
    color:#333;
}

/* head */
.electionNav-head-container{
    width:100%;
    height:48px;
    background:transparent;
    font-family:'Guardian Egyptian Web','Egyptian Display', Georgia,serif;
    display: none;
}
.electionNav-head-container .electionNav-inner-container{
    height:48px;
}

.electionNav-head-title{
    float:left;
    width:140px;
    border-right: 1px solid #333;
    margin-top: 15px;
    margin-right:30px;
    padding-right:0;
}
.electionNav-head-title a{
    font-family:'Guardian Egyptian Web','Egyptian Display', Georgia,serif;
    font-size:18px;
    font-weight:bold;
    text-decoration: none;
    line-height: 28px;
    color:#333;
}

.electionNav-head-item{
    display:none;
    margin-right:20px;
    padding-top: 16px;
}
.electionNav-head-item a{
    text-decoration: none;
    color:#888;
    font-family: "Guardian Text Sans Web", "Agate Sans", Arial;
}
.electionNav-head-item a:hover{
    text-decoration: underline;
}

.electionNav-head-item.electionNav-head-item-active a{
    color:#333;
    font-weight:bold;
    cursor:default;
    border-top:4px solid #333;
    padding-top:16px;
}
.electionNav-head-item.electionNav-head-item-active a:hover{
    text-decoration: none;
}


/* footer */
.electionNav-footer-container{
    width:100%;
    background:transparent;
}

.electionNav-footer-container .electionNav-inner-container{
    padding-bottom:40px;
}

.electionNav-footer-title{
    border-top:1px solid #dcdcdc;
    border-bottom:1px solid #dcdcdc;
    padding:10px 0;
}

.electionNav-footer-item{
    display: inline-block;
    width:100%;
    margin:-1px 0 0 0;
}
.electionNav-footer-item a{
    font-family: "Guardian Text Sans Web", "Agate Sans", Arial;
    color:#888;
    text-decoration: none;
    display:inline-block;
    width:100%;
}

.electionNav-footer-item:hover span{
    text-decoration: underline;
}

.electionNav-footer-item span{
    padding-top:14px;
    padding-bottom:12px;
    display:inline-block;
}

.electionNav-footer-item.electionNav-footer-item-active a{
    color:#333;
    font-weight:bold;
    cursor: default;
}
.electionNav-footer-item.electionNav-footer-item-active:hover span{
    text-decoration: none;
}
.electionNav-footer-item.electionNav-footer-item-active span{
    border-top:4px solid #333;
}

.electionNav-footer-item img{
    width:100%;
    display:inline-block;
}

@media(min-width:480px){
    .electionNav-footer-item{
        width:49%;
        margin-right:2%;
    }
    .electionNav-footer-item:nth-of-type(2n+2){
        margin-right:0;
    }
}
@media(min-width:660px){
    #election-nav-head { 
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
    }   
    .electionNav-head-container{
        display: block;
    }
    .electionNav-inner-container{
        background-color: transparent;
        margin: 0;
    }
    .electionNav-head-item{
        display:inline-block;
    }
    .electionNav-head-item a {
        background-color: rgba(255, 255, 255, 0.75);
    }
    .electionNav-footer-item{
        width:32%;
        margin-right:2%;
    }
    .electionNav-footer-item:nth-of-type(2n+2){
        margin-right:2%;
    }
    .electionNav-footer-item:nth-of-type(3n+3){
        margin-right:0;
    } 
}

@media(min-width:980px){
    .electionNav-head-item{
        margin-right:40px;
    }
    .electionNav-inner-container{
        max-width:980px;
    }
    .electionNav-footer-item{
        width:23.5%;
        margin-right:2%;
    }
    .electionNav-footer-item:nth-of-type(2n+2){
        margin-right:2%;
    }
    .electionNav-footer-item:nth-of-type(3n+3){
        margin-right:2%;
    }
    .electionNav-footer-item:nth-of-type(4n+4){
        margin-right:0;
    }
}

@media(min-width:1140px){
    .electionNav-inner-container{
        max-width:1140px;
    }
}

@media(min-width:1300px){
    .electionNav-inner-container{
        max-width:1300px;
    }
}
